data/*
.DS_Store
*.pyc
results
data/Debugging
*.ipynb
.Rhistory
gold-standard-parsing.txt
testdata
testresults
aquaint*
genfeatures.csv
NBtestResults.txt
NN_results.txt
raw_data.csv
task6/__pycache__/t6Entities.cpython-36.pyc
baseline_resultsTest
jars
resultsTest
resultsTrain
Chrono/sutime
data/SemEval-Task6-GUTime-TestResults
data/SemEval-Task6-GUTime-TrainResults

GitWorkflowInstructions.txt
