
.DS_Store
task6/__pycache__/__init__.cpython-36.pyc
task6/__pycache__/sutime.cpython-36.pyc
task6/jars/stanford-corenlp-3.8.0-models.jar
task6/__pycache__/referenceToken.cpython-36.pyc
*.pyc
task6/__pycache__/__init__.cpython-36.pyc
task6/__pycache__/*
task6/jars/stanford-corenlp-3.6.0-models.jar
task6/__pycache__/t6Entities.cpython-36.pyc
task6/__pycache__/t6Entities.cpython-36.pyc
jars/stanford-corenlp-3.6.0-models.jar
jars/stanford-corenlp-3.8.0-models.jar
results

*.ipynb
.Rhistory
gold-standard-parsing.txt
testdata
testresults
aquaint*
genfeatures.csv
NBtestResults.txt
NN_results.txt
raw_data.csv
task6/__pycache__/t6Entities.cpython-36.pyc
baseline_resultsTest
jars
resultsTest
resultsTrain
Chrono/sutime
